
.makeupbody{
    position: absolute;
    top: 0rem;
    left: 0%;
    width: 100%;
    display: block;
}
.makeuptitle{
	position: absolute;
    top: 10rem;
    left: 10%;
    height: 6rem;
    width: 80%;
    color: #30425A;
    font-size: 4rem;
    font-weight: bold;
    font-family: "幼圆";
}
.makeup{
	position: absolute;
	/*top: 17rem;*/
	left: 50%;
	height: 20rem;
	width: 80%;
	margin-left: -40%;
	border-radius: 2rem;
	border: 2px solid #30425A;
	color: #30425A;
    font-size: 2.8rem;
    font-family: "幼圆";
}
.className{
    position: absolute;
    top: 2rem;
    left: 5%;
    height: 5rem;
}
.room{
    position: absolute;
    top: 8rem;
    left: 5%;
    height: 5rem;
}
.seat{
    position: absolute;
    top: 8rem;
    left: 55%;
    height: 5rem;
}
.time{
    position: absolute;
    top: 14rem;
    left: 5%;
    height: 5rem;
}